.map {
	position: absolute;
	display: inline-block;
	font-size: 0px;
	top: 0;
	right: 30px;
}


.map-image {
	position: relative;
}


.map-markers {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.marker {
	position: absolute;
	width: (100% * 29 / 531); // original psd sizes
	height: auto;	
	cursor: pointer;
	transform: translateX(-50%) translateY(-50%) translateZ(0);
	z-index: 500;

	&:after {
		content: '';
		display: block;
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 350%;
		background-image: url(/assets/marker.png);
		background-size: auto 100%;
		background-repeat: no-repeat;
		
	}
}