.popover {
	position: absolute;
	top: 10px;
	right: 80px;
	visibility: hidden;
	width: 350px;
	opacity: 0;
	transform: scale(0.9);
	transform-origin: top right;
	pointer-events: none;
	z-index: 200;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	// box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	transition: opacity 0.3s ease,
				visibility 0.3s ease,
				transform 0.3s ease;
	
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		top: 0;
		right: -59px;
		border-left: 30px solid white;
		border-top: 15px solid white;
		border-right: 30px solid transparent;
		border-bottom: 15px solid transparent;
		// box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	}

	.marker:hover & {
		transform: scale(1);
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}

	h2 {
		font-size: 1.8rem;
		margin-top: 0;
	}
}


.popover-photos {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.popover-photo-image {
	display: inline-block;
	width: 30%;	
}

.popover-photo-ratio {
	width: 100%;
	padding-top: 100%;
	position: relative;
	overflow: hidden;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) translateZ(0);
	}
}

