.image-container {

	.aspect-ratio {
		height: 0;
		width: 100%;
		padding-bottom: 75%;
		position: relative;
		overflow: hidden;
	}

	img {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%) translateZ(0);
	}
}