.image-card {
	position: relative;

	&:hover img {
		opacity: 0.3;
	}

	&.is-loading {
		.card-content {
			pointer-events: none;
			opacity: 0.1;
		}
	}

	.image-container {
		position: relative;
	}

	img {
		opacity: 1;
		transition: opacity 0.3s ease;
	}
}


.image-card-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.85);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;

	.image-card.is-loading & {
		pointer-events: auto;
		opacity: 1;
		transform: translate(-50%,-50%) scale(1);
	}
}




// Overrides
// ------------------------------------------------------------

.image-card {

	.btn-floating {
		pointer-events: none;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 200;
		transform: translate(-50%,-50%) scale(.90);
		transition: opacity 0.3s ease,
					transform 0.3s ease;
	}

	&:hover .btn-floating {
		opacity: 1;
		pointer-events: auto;
		transform: translate(-50%,-50%) scale(1);
	}
}